

<style>

  

  .myTable table tr td:first-child{
      color:#ffffff;
  }
 .myTable table tr td:last-child{
      color:#000000;
      font: bold;

  }
 
  .myTable table {
    border-collapse: collapse;
}

   table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}



</style>

<div class="myTable">

    <h1 style="text-align:center;color:#ffffff"> {{title}}  </h1>
    <h2>Employee view Page testing</h2>
    <table align="center" style="margin:0px auto;border-collapse:separate; border-spacing: 10px"> <!--style="border-collapse:separate; border-spacing: 0 1em"--> 

        <tr>
            <td></td>
        </tr>

        <tr>
            <td>Id: </td>
            <td></td>
            <td><input type="text" ng-model="empId" /></td>

        </tr>
        
        <tr>
            <td>Name:</td>
            <td></td>
            <td><input type="text" ng-model="empName" /></td>
        </tr>
   
        <tr>
            <td>surya: </td>
            <td></td>
            <td><input type="text" ng-model="empGender" /></td>
        </tr>

        <tr>
            <td>surya: </td>
            <td></td>
            <td><input type="date" ng-model="empDOB" /></td>
        </tr>

        <tr>
            <td>Date of Joining: </td>
            <td></td>
            <td><input type="date" ng-model="empDOJ" /></td>
        </tr>

        <tr>
            <td>Designation: </td>
            <td></td>
            <td><input type="text" ng-model="empDesignation" /></td>
        </tr>

        <tr>
            <td>Contact No:</td>
            <td></td>
            <td><input type="text" ng-model="empContact" /></td>
        </tr>

        <tr>
            <td>Address:</td>
            <td></td>
            <td><input type="text" ng-model="empAddress" /></td>
        </tr>

        <tr>
            <td>Profile Photo: </td>
            <td></td>
            <td><input type="file" /></td>
        </tr>

        <tr>
            <td align="center" style="color:#000000"><input type="button" class="btn" value="Update" ng-click="update()" /></td>
        </tr>
    </table>

</div>
<br />

<div ng-if="admin" >
   <table align="center">   
       <tr> 
           <td> Employee ID: <input type="text" ng-model="search.empId" /></td>
           <td>&nbsp; </td>
           <td> Employee Name:<input type="text" ng-model="search.empName" /></td>
       </tr>
    </table>
    <table class="commonTable">
        <tr>      
            <th> Employee ID</th>
            <th> Employee Name</th>
            <th> Gender </th>
            <th> DOB </th>
            <th> Date of Joining </th>
            <th> Designation</th>
            <th> Contact No</th>
            <th> Address</th>
            <th> Edit </th>
        </tr>



        <tr ng-repeat=" e in empList | filter:search">
            <td> {{e.empId}}  </td>
            <td> {{e.empName}}</td>
            <td>{{e.empGender}}</td>
            <td> {{e.empDOB}} </td>
            <td>{{e.empDOJ}}</td>
            <td>{{e.empDesignation}}</td>
            <td>{{e.empContact}}</td>
            <td>{{e.empAddress}}</td>
            <td> <input type="button" class="btn" value="Edit" ng-click="edit(e.empId)"/></td>
        </tr>

        <tr ng-repeat=" e in empList | filter:search">
            <td> {{e.empId}}  </td>
            <td> {{e.empName}}</td>
            <td>{{e.empGender}}</td>
            <td> {{e.empDOB}} </td>
            <td>{{e.empDOJ}}</td>
            <td>{{e.empDesignation}}</td>
            <td>{{e.empContact}}</td>
            <td>{{e.empAddress}}</td>
            <td> <input type="button" class="btn" value="Edit" ng-click="edit(e.empId)" /></td>
        </tr>

    </table>
</div>