
    
       <!--<p> My Login Page</p>
<p>{{name}}</p>

        <div class="login-block">
            <h1>Login</h1>
            <input type="text" value="" placeholder="Username" id="username" ng-model="username" />
            <input type="password" value="" placeholder="Password" id="password" ng-model="password" />
            <input type="submit" ng-click="homepage()"/>
        </div>-->
 

<div class="login">
    <div class="heading">
        <h2>Login priya page</h2>
        <div class="mylogin">
            <div>Login priya page</div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" class="form-control" placeholder="Username or email" ng-model="username">
            </div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>

            <button type="submit" class="float" ng-click="homepage()">surya Log in</button>
        </div>
    </div>
</div>

